<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://pbs.twimg.com/profile_images/1633077343890599938/Ucz74nSr_400x400.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo hoods"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Hoodstar Community</h2>
            <p class="text-xl mb-2 font-semibold">Sept. 2024 - Nov. 2024</p>
            <p class="leading-relaxed text-base">Trabajando en un servidor de rol serio, especializado en la programación del bando ilegal, haciendo los mejores sistemas propios para esa facción.</p>
            <!-- <a href="https://cursos.desafiolatam.com/certificates/2bzutwrvbv" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a> -->
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">ElHérculesRP</h2>
            <p class="text-xl mb-2 font-semibold">Mayo 2024 - Oct. 2024</p>
            <p class="leading-relaxed text-base">Servidor en el que logramos convertirlo en un gran porcentaje de sistemas unicos, IRL y de alta calidad gracias a la programación.</p>
        </div>
        <img src="https://media.discordapp.net/attachments/1303786907104448513/1345910869099548762/ELherculesRP.png?ex=67c644ad&is=67c4f32d&hm=6d7b827d84b3d1f80c70f863d95d35ff12085ffe98235a5a473f01229039f041&=&format=webp&quality=lossless"  class="w-48 h-48 sm:ml-20 mb-4 sm:mb-0" alt="logo elhercules" />
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://i.imgur.com/atxJhDZ.png" class="w-48 h-48 sm:mr-20 mb-4 sm:mb-0" alt="Logo arousa"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Arousa Town</h2>
            <p class="text-xl mb-2 font-semibold">Dic. 2023 - Jun. 2024</p>
            <p class="leading-relaxed text-base">Servidor por el cual empecé a enfocarme en la programación, proceso de iniciación a la programación completa.</p>
        </div>
    </div>
</div>
