<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llaman Capi y soy de Galicia, España. Me encuentro aprendiendo más sobre FiveM, desarrollo web y videojuegos. 
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>
    
    <!-- <p>
        <strong>Actualmente estudio un B2 en Inglés</strong>. Me apasiona el mundo del desarrollo de videojuegos, y en mi tiempo libre, aprendo tecnologías como Unity.
    </p> -->

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades como dev <strong>FiveM</strong>, participando en proyectos y haciendo cursos que me permitan <strong>aprender y crecer</strong> como programador. 
    </p>
</div>
<img src="https://cdn.discordapp.com/avatars/448170541371752449/4934802ef79306eba2e4a1c902328cf2.png" alt="yo" class="rounded-full size-64">
</section>